{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>steam查询</title>
	<link href="{% static "assets/css/plugins.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/styles.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/skin/default.css" %}" rel="stylesheet">
</head>

<script>
	function onTopClick() {

		window.location.hash = "#upload";

	}

</script>

<body class="green-skin">
	<div class="Loader"></div>
	<div id="main-wrapper">
		<div class="header header-light">
			<div class="container-fluid">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="{% url 'index' %}">
							<img src="{% static "assets/img/logo.png" %}" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li class="active"><a href="#">索引<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'index' %}" class="active">寻子网主页</a></li>
									<li><a href="{% url 'bbsindex' %}" class="active">论坛主页</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav-menu">
							<li class="active"><a href="#">其他<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'apidoc' %}" class="active">获取API</a></li>
								</ul>
							</li>
						</ul>

						<ul class="nav-menu nav-menu-social align-to-right">
							<li>
								<a href="#" data-toggle="modal" data-target="#login">
									<span class="dn-lg"><a href="{% url 'bbsindex' %}" target="_blank">论坛</a></span>
								</a>
							</li>
							<li class="add-listing theme-bg">
								<button
									style="height: 100%;width: 100%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
									<a href="#upload">
										<i class="ti-plus"></i> 上传
									</a>
								</button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================搜索栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<div class="hero-header jumbo-banner text-center"
			style="background: url({% static "assets/img/banner500.jpg" %}" );" data-overlay="6">
			<div class="container">
				<h1>500!您的操作导致了网站的意外错误!</h1>
				<h1 style="font-size:35px">{{ error }}</h1>
				<h1 style="font-size:35px">{{ erLine }}</h1>
			</div>
		</div>
		<footer class="dark-footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="footer-widget" style="padding-top:30px;padding-bottom: 30px;">
								<img src="{% static "assets/img/logo-light.png" %}" class="img-footer" alt="" />
								<div class="footer-add">
									<h4 class="widget-title">开发者</h4>
									<p><a href="https://space.bilibili.com/175397396" target="_blank">金昊宸</a></p>
								</div>

							</div>
						</div>
						<div class="col-lg-2-mianze col-md-2-mianze" style="width: 100%;">
							<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
								<h4 class="widget-title">友情连接</h4>
								<ul class="footer-menu">
									<li><a href="http://xunren.baidu.com/index.html" target="_blank">百度寻人</a></li>
									<li><a href="http://chinaxrw.com/" target="_blank">中国寻人网</a></li>
									<li><a href="https://www.szrksjzx.com/" target="_blank">寻亲网</a></li>

								</ul>
							</div>
						</div>
						<!-- <div class="col-lg-2-mianze2 col-md-2-mianze2" style="width: 100%;">
													<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
														<h4 class="widget-title">&nbsp</h4>
														<ul class="footer-menu">
															<li><a href="#">123231</a></li>
															<li><a href="#">123231</a></li>
															<li><a href="#">123231</a></li>
															<li><a href="#">123231</a></li>
															<li><a href="#">123231</a></li>
															<li><a href="#">123231</a></li>
															<li><a href="#">123231</a></li>
														</ul>
													</div>
												</div>
											</div> -->
					</div>
				</div>

		</footer>
		<!-- ============================ Footer End ================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/popper.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/select2.min.js" %}"></script>
	<script src="{% static "assets/js/aos.js" %}"></script>
	<script src="{% static "assets/js/perfect-scrollbar.jquery.min.js" %}"></script>
	<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "assets/js/slick.js" %}"></script>
	<script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/js/isotope.min.js" %}"></script>
	<script src="{% static "assets/js/summernote.js" %}"></script>
	<script src="{% static "assets/js/jQuery.style.switcher.js" %}"></script>
	<script src="{% static "assets/js/counterup.min.js" %}"></script>
	<script src="{% static "assets/js/custom.js" %}"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->

</body>
<script>

</script>
<script>
	//
	$("input[name='imgFile']").each(function () {
		var max_size = 1024 * 1024 * 2;
		$(this).change(function (evt) {
			var finput = $(this);
			var files = evt.target.files; // 获得文件对象
			var output = [];
			for (var i = 0, f; f = files[i]; i++) {  //检查文件大小
				if (f.size > max_size) {
					alert("上传的图片不能超过2m!");
					$(this).val('');
				}
			}
		});
	});
	//
	$(function () {
		//录入
		var committerInformationFLAG = false;
		var reportInfFLAG = false;
		$("input[name='committerInformation']").blur(function () {
			var information = $(this).val().trim();
			if (information == "") {
				committerInformationFLAG = false;
			} else {
				committerInformationFLAG = true;
			}
			if (committerInformationFLAG && reportInfFLAG) {
				$("button[name='subInf']").removeAttr("disabled");
			}
			else {
				$("button[name='subInf']").attr({ "disabled": "disabled" });

			}
			// console.log(committerInformationFLAG, reportInfFLAG)
		});
		$("input[name='reportQq'],input[name='reportVx'],input[name='reportSteam'],input[name='reportAliPay'],input[name='reportMaxId'],input[name='reportHeiBox'],input[name='reportTieBa']").blur(function () {
			var information2 = $(this).val().trim();
			if (information2 == "") {
				reportInfFLAG = false;
			} else {
				reportInfFLAG = true;
			}
			if (committerInformationFLAG && reportInfFLAG) {
				$("button[name='subInf']").removeAttr("disabled");
			}
			else {
				$("button[name='subInf']").attr({ "disabled": "disabled" });

			}
		});
	});
</script>

</html>