{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>失联儿童查询</title>
	<link href="{% static "assets/css/plugins.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/styles.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/skin/default.css" %}" rel="stylesheet">
</head>

<script>
</script>

<body class="green-skin">
	<div class="Loader"></div>
	<div id="main-wrapper">
		<div class="header header-light">
			<div class="container-fluid">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="{% url 'index' %}">
							<img src="{% static "assets/img/logo.png" %}" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li class="active"><a href="#">索引<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'index' %}" class="active">寻子网主页</a></li>
									<li><a href="{% url 'bbsindex' %}" class="active">论坛主页</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav-menu">
							<li class="active"><a href="#">其他<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'apidoc' %}" class="active">获取API</a></li>
								</ul>
							</li>
						</ul>

						<ul class="nav-menu nav-menu-social align-to-right">
							<li>
								<a href="#" data-toggle="modal" data-target="#login">
									<span class="dn-lg" style="font-size:18px"><a href="{% url 'index' %}" target="_blank">寻子网</a></span>
								</a>
							</li>
							{% if user == None %}
							<li>
								<a href="{% url 'login' %}">
									<i class="ti-user mr-1"></i><span class="dn-lg">登陆/注册</span>
								</a>
							</li>
							{% else %}
							<li>
								<a href="{% url 'personal' %}">
									<i class="ti-user mr-1"></i><span class="dn-lg">{{ user }}</span>
								</a>
							</li>
							{% endif %}
							{% if user == None %}
							<li class="add-listing theme-bg">
								<button
									style="height: 100%;width: 100%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
									<a href="{% url 'login' %}">
										</i> 登陆后发帖
									</a>
								</button>
							</li>
							{% else %}
							<li class="add-listing theme-bg">
								<button
									style="height: 100%;width: 100%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
									<a href="{% url 'postnew' %}">
										<i class="ti-plus"></i> 发帖
									</a>
								</button>
							</li>
							{% endif %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================搜索栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<div class="hero-header jumbo-banner text-center" style="background: url({% static "assets/img/banner2.jpg" %}"
			);" data-overlay="6">
			<div class="container" style="margin-top:-2%">
				<h1>寻子论坛搜索</h1>
				<p class="lead">寻子人温暖的家。</p>
				<form method="POST" class="search-big-form no-border search-shadow">
					<div class="row m-0" style="width:100%">
						<div class="col-lg-4 col-md-4 col-sm-12 p-0">
							<div class="form-group">
								<i class="ti-search"></i>
								<input name="searchContent" type="text" class="form-control b-r" style="width:100%"
									placeholder="输入搜索内容">
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 p-0">
							<button value="searchButton" name="searchButton" class="btn btn-primary full-width"
								style="margin-left:0%">搜索</button>
						</div>
					</div>
				</form>
			</div>
			<div id="upload"></div>
		</div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================输入栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						{% for inf in res %}
						<a href="{% url 'bbscontent' inf.id  %}">
						<form method="POST">
							<div class="job-new-list">
								<div class="vc-content" style="width: 100%;">
									<ul class="vc-info-list">
										<li class="list-inline-item" style="width: 100%;">
											<div style="margin-top:15px"></div>
											<h5 style="margin-bottom: 7px;font-size:25px;margin-bottom:3%"><b>{{ inf.title }}</b></h5>
											<h5 style="margin-bottom: 7px;font-size:18px">{{ inf.content }}</h5>
										</li>
									</ul>
								</div>
							</div>
						</form>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================计数栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<section class="image-bg text-center" style="background:#00a94f url({% static "assets/img/bg2.png" %});"
			data-overlay="0">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ upload }}</h4>
							<span>评论数量</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ allrecord }}</h4>
							<span>发帖数量</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ search }}</h4>
							<span>搜索次数</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="count-facts">
							<h4>{{ visits }}</h4>
							<span>访问次数</span>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================底栏===================================================================== -->
		<!-- ================================================================================================================================ -->
		<footer class="dark-footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="footer-widget" style="padding-top:30px;padding-bottom: 30px;">
								<img src="{% static "assets/img/logo-light.png" %}" class="img-footer" alt="" />
								<div class="footer-add">
									<h4 class="widget-title">开发者</h4>
									<p><a href="https://space.bilibili.com/175397396" target="_blank">金昊宸</a></p>
									<!-- <p style='font-size:15'>©2020 dota2饰品吧 版权所有</p> -->
								</div>

							</div>
						</div>
						<div class="col-lg-2-mianze col-md-2-mianze" style="width: 100%;">
							<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
								<h4 class="widget-title">友情连接</h4>
								<ul class="footer-menu">
									<li><a href="http://xunren.baidu.com/index.html" target="_blank">百度寻人</a></li>
									<li><a href="http://chinaxrw.com/" target="_blank">中国寻人网</a></li>
									<li><a href="https://www.szrksjzx.com/" target="_blank">寻亲网</a></li>

								</ul>
							</div>
						</div>
						<!-- <div class="col-lg-2-mianze2 col-md-2-mianze2" style="width: 100%;">
							<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
								<h4 class="widget-title">&nbsp</h4>
								<ul class="footer-menu">
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
								</ul>
							</div>
						</div>
					</div> -->
				</div>
			</div>

		</footer>
		<!-- ============================ Footer End ================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/popper.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/select2.min.js" %}"></script>
	<script src="{% static "assets/js/aos.js" %}"></script>
	<script src="{% static "assets/js/perfect-scrollbar.jquery.min.js" %}"></script>
	<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "assets/js/slick.js" %}"></script>
	<script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/js/isotope.min.js" %}"></script>
	<script src="{% static "assets/js/summernote.js" %}"></script>
	<script src="{% static "assets/js/jQuery.style.switcher.js" %}"></script>
	<script src="{% static "assets/js/counterup.min.js" %}"></script>
	<script src="{% static "assets/js/custom.js" %}"></script>

	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.time.js" %}"></script>
	<script src="{% static "assets/js/birthday.js" %}"></script>
	<script src="{% static "assets/js/misstime.js" %}"></script>
	<!-- This page plugins -->
	<!-- ============================================================== -->

</body>

<script>
	//
	$("input[name='imgFile']").each(function () {
		var max_size = 1024 * 1024 * 2;
		$(this).change(function (evt) {
			var finput = $(this);
			var files = evt.target.files; // 获得文件对象
			var output = [];
			for (var i = 0, f; f = files[i]; i++) {  //检查文件大小
				if (f.size > max_size) {
					alert("上传的图片不能超过2m!");
					$(this).val('');
				}
			}
		});
	});
	//
	$(function () {
		//录入
		var committerInformationFLAG = false;
		var reportInfFLAG = true;
		$("input[name='missCName']").blur(function () {
			var information = $(this).val().trim();
			if (information == "") {
				committerInformationFLAG = false;
			} else {
				committerInformationFLAG = true;
			}
			if (committerInformationFLAG && reportInfFLAG) {
				$("button[name='subInf']").removeAttr("disabled");
			}
			else {
				$("button[name='subInf']").attr({ "disabled": "disabled" });

			}
			// console.log(committerInformationFLAG, reportInfFLAG)
		});
	});
</script>
<script>
	$('#category1').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category1-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category1-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category1-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category2-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category2-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category2-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category3-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category3-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category3-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	//
	$('#category4').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category4-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category4-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category4-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category5').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category5-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category5-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category5-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category6').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category6-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category6-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category6-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category7').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category7-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category7-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category7-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category8').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category8-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category8-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category8-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category9').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category9-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category9-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category9-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
</script>

</html>