{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>查询结果</title>
	<link href="{% static "assets/css/plugins.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/styles.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/skin/default.css" %}" rel="stylesheet">
</head>
<script>

	function onTopClick() {

		window.location.hash = "#upload";
	}

</script>

<body class="green-skin">
	<div class="Loader"></div>
	<div id="main-wrapper">
		<div class="header header-light">
			<div class="container-fluid">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="{% url 'index' %}">
							<img src="{% static "assets/img/logo.png" %}" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li class="active"><a href="#">索引<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'index' %}" class="active">寻子网主页</a></li>
									<li><a href="{% url 'bbsindex' %}" class="active">论坛主页</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav-menu">
							<li class="active"><a href="#">其他<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'apidoc' %}" class="active">获取API</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav-menu nav-menu-social align-to-right">
							<li>
								<a href="#" data-toggle="modal" data-target="#login">
									<span class="dn-lg" style="font-size:18px"><a href="{% url 'bbsindex' %}">返回论坛</a></span>
								</a>
							</li>
							<li class="add-listing theme-bg">
								<button
									style="height: 100%;width: 100%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
									<a href="{% url 'postnew' %}">
										<i class="ti-plus"></i> 发帖
									</a>
								</button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================显示信息================================================================== -->
		<!-- ================================================================================================================================ -->
		<section class="small-page-title-banner" style="background-image:url({% static "assets/img/des-9.jpg" %});">
			<div class="container">
				<div class="row">
					<div class="tr-list-center">
						<h2>查询结果</h2>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						{% for inf in res %}
						<a href="{% url 'bbscontent' inf.id  %}">
							<form method="POST">
								<div class="job-new-list">
									<div class="vc-content" style="width: 100%;">
										<ul class="vc-info-list">
											<li class="list-inline-item" style="width: 100%;">
												<div style="margin-top:15px"></div>
												<h5 style="margin-bottom: 7px;font-size:25px;margin-bottom:3%">
													<b>{{ inf.title }}</b></h5>
												<h5 style="margin-bottom: 7px;font-size:18px">{{ inf.content }}</h5>
											</li>
										</ul>
									</div>
								</div>
							</form>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
		<div class="clearfix"></div>
		<section></section>
		<section></section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================底栏===================================================================== -->
		<!-- ================================================================================================================================ -->
		<footer class="dark-footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="footer-widget" style="padding-top:30px;padding-bottom: 30px;">
								<img src="{% static "assets/img/logo-light.png" %}" class="img-footer" alt="" />
								<div class="footer-add">
									<h4 class="widget-title">开发者</h4>
									<p><a href="https://space.bilibili.com/175397396" target="_blank">金昊宸</a></p>
									<!-- <p style='font-size:15'>©2020 dota2饰品吧 版权所有</p> -->
								</div>

							</div>
						</div>
						<div class="col-lg-2-mianze col-md-2-mianze" style="width: 100%;">
							<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
								<h4 class="widget-title">友情连接</h4>
								<ul class="footer-menu">
									<li><a href="http://xunren.baidu.com/index.html" target="_blank">百度寻人</a></li>
									<li><a href="http://chinaxrw.com/" target="_blank">中国寻人网</a></li>
									<li><a href="https://www.szrksjzx.com/" target="_blank">寻亲网</a></li>

								</ul>
							</div>
						</div>
						<!-- <div class="col-lg-2-mianze2 col-md-2-mianze2" style="width: 100%;">
									<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
										<h4 class="widget-title">&nbsp</h4>
										<ul class="footer-menu">
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
										</ul>
									</div>
								</div>
							</div> -->
					</div>
				</div>

		</footer>
		<!-- ============================ Footer End ================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/popper.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/select2.min.js" %}"></script>
	<script src="{% static "assets/js/aos.js" %}"></script>
	<script src="{% static "assets/js/perfect-scrollbar.jquery.min.js" %}"></script>
	<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "assets/js/slick.js" %}"></script>
	<script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/js/isotope.min.js" %}"></script>
	<script src="{% static "assets/js/summernote.js" %}"></script>
	<script src="{% static "assets/js/jQuery.style.switcher.js" %}"></script>
	<script src="{% static "assets/js/counterup.min.js" %}"></script>
	<script src="{% static "assets/js/custom.js" %}"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->

</body>

</html>