{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>查询结果</title>
	<link href="{% static "assets/css/plugins.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/styles.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/skin/default.css" %}" rel="stylesheet">
</head>
<script>

	function onTopClick() {

		window.location.hash = "#upload";
	}

</script>

<body class="green-skin">
	<div class="Loader"></div>
	<div id="main-wrapper">
		<div class="header header-light">
			<div class="container-fluid">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="{% url 'index' %}">
							<img src="{% static "assets/img/logo.png" %}" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li class="active"><a href="#">索引<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'index' %}" class="active">寻子网主页</a></li>
									<li><a href="{% url 'bbsindex' %}" class="active">论坛主页</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav-menu">
							<li class="active"><a href="#">其他<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'apidoc' %}" class="active">获取API</a></li>
								</ul>
							</li>
						</ul>

						<ul class="nav-menu nav-menu-social align-to-right">
							<li>
								<a href="#" data-toggle="modal" data-target="#login">
									<span class="dn-lg"><a href="{% url 'bbsindex' %}" target="_blank">论坛</a></span>
								</a>
							</li>
							<li class="add-listing theme-bg">
								<button
									style="height: 100%;width: 100%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
									<a href="{% url 'index' %}">
										<i class="ti-plus"></i> 上传
									</a>
								</button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================显示信息================================================================== -->
		<!-- ================================================================================================================================ -->
		<section class="small-page-title-banner" style="background-image:url({% static "assets/img/des-10.jpg" %});">
			<div class="container">
				<div class="row">
					<div class="tr-list-center">
						<h2 style="font-size: 50px;">{{ name }}的信息</h2>
						<h2 style="font-size: 17px;margin-top:15px;">若有线索立刻联系亲属！帮助他/她回到亲人身边！</h2>
					</div>
				</div>
			</div>
		</section>
		<div style="margin-top:6%"></div>
		<center>
			<h5 style="margin-bottom: 30px;font-size:25px">姓名：{{ name }}</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">性别：{{ sex }}</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">出生日期：{{ birthdayY }}年.{{ birthdayM }}月.{{ birthdayD }}日</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">身高：{{ height }}厘米</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">体重：{{ weight }}公斤</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">
				走失日期：走失日期：{{ inf.timeLY }}年.{{ inf.timeLM }}月.{{ inf.timeLD }}日.{{ inf.timeLH }}时.{{ inf.timeLMin }}分
			</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">走失地点：{{ site }}</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">其他描述：</h5>
			<h5 style="margin-bottom: 30px;font-size:25px;WORD-BREAK:break-all;width: 60%;">{{ text }}</h5>
			<h5 style="margin-bottom: 30px;font-size:35px">家属信息</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">家属称呼：{{ kinName }}</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">家属联系方式：{{ kinLink }}</h5>
			<h5 style="margin-bottom: 30px;font-size:25px">失联者照片</h5>
			{% for i in img %}
			<center><img src="/media/{{ i }}" style="width: auto;height: auto;max-width: 800px;max-height: 500px;">
			</center>
			{% endfor %}

		</center>
		<div class="clearfix"></div>
		<section></section>
		<section></section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================底栏===================================================================== -->
		<!-- ================================================================================================================================ -->
		<footer class="dark-footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="footer-widget" style="padding-top:30px;padding-bottom: 30px;">
								<img src="{% static "assets/img/logo-light.png" %}" class="img-footer" alt="" />
								<div class="footer-add">
									<h4 class="widget-title">开发者</h4>
									<p><a href="https://space.bilibili.com/175397396" target="_blank">金昊宸</a></p>
									<!-- <p style='font-size:15'>©2020 dota2饰品吧 版权所有</p> -->
								</div>

							</div>
						</div>
						<div class="col-lg-2-mianze col-md-2-mianze" style="width: 100%;">
							<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
								<h4 class="widget-title">友情连接</h4>
								<ul class="footer-menu">
									<li><a href="http://xunren.baidu.com/index.html" target="_blank">百度寻人</a></li>
									<li><a href="http://chinaxrw.com/" target="_blank">中国寻人网</a></li>
									<li><a href="https://www.szrksjzx.com/" target="_blank">寻亲网</a></li>

								</ul>
							</div>
						</div>
						<!-- <div class="col-lg-2-mianze2 col-md-2-mianze2" style="width: 100%;">
									<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
										<h4 class="widget-title">&nbsp</h4>
										<ul class="footer-menu">
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
										</ul>
									</div>
								</div>
							</div> -->
					</div>
				</div>

		</footer>
		<!-- ============================ Footer End ================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/popper.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/select2.min.js" %}"></script>
	<script src="{% static "assets/js/aos.js" %}"></script>
	<script src="{% static "assets/js/perfect-scrollbar.jquery.min.js" %}"></script>
	<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "assets/js/slick.js" %}"></script>
	<script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/js/isotope.min.js" %}"></script>
	<script src="{% static "assets/js/summernote.js" %}"></script>
	<script src="{% static "assets/js/jQuery.style.switcher.js" %}"></script>
	<script src="{% static "assets/js/counterup.min.js" %}"></script>
	<script src="{% static "assets/js/custom.js" %}"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->

</body>

</html>