{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>失联儿童查询</title>
	<link href="{% static "assets/css/plugins.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/styles.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/skin/default.css" %}" rel="stylesheet">
</head>

<script>
	function onTopClick() {

		window.location.hash = "#upload";

	}

</script>

<body class="green-skin">
	<div class="Loader"></div>
	<div id="main-wrapper">
		<div class="header header-light">
			<div class="container-fluid">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="{% url 'index' %}">
							<img src="{% static "assets/img/logo.png" %}" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li class="active"><a href="#">索引<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'index' %}" class="active">主页</a></li>
									<!-- <li><a href="home-2.html">Home Style 2</a></li>-->
								</ul>
							</li>
						</ul>

						<ul class="nav-menu nav-menu-social align-to-right">
							<li class="add-listing theme-bg">
								<button
									style="height: 100%;width: 100%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
									<a href="#upload">
										<i class="ti-plus"></i> 上传
									</a>
								</button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================搜索栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<div class="hero-header jumbo-banner text-center" style="background: url({% static "assets/img/banner.jpg" %}"
			);" data-overlay="6">
			<div class="container">
				<h1>失联儿童查询</h1>
				<p class="lead">本网站查询和登记失联儿童信息。</p>
				<form method="POST" class="search-big-form no-border search-shadow">
					<div class="row m-0" style="width:100%">
						<div class="col-lg-4 col-md-4 col-sm-12 p-0">
							<div class="form-group">
								<i class="ti-search"></i>
								<input name="searchContent" type="text" class="form-control b-r" style="width:100%"
									placeholder="输入查询内容">
							</div>
						</div>
						<!-- <div class="col-lg-3 col-md-3 col-sm-12 p-0">
							<div class="form-group">
								<i class="ti-location-pin"></i>
								<input type="text" class="form-control b-r" placeholder="Location">
							</div>
						</div> -->

						<div class="col-lg-3 col-md-3 col-sm-12 p-0">
							<div class="form-group">
								<select name="searchSelect" id="category" class="js-states form-control">
									<option value="none">请选择查询内容</option>
									<option value="name">姓名</option>
									<option value="vx">地区</option>
									<option value="steam"></option>
									<option value="alipay">支付宝账号</option>
									<option value="max">max+账号</option>
									<option value="hei">小黑盒账号</option>
									<option value="tieba">贴吧账号</option>
								</select>
								<i class="ti-layers"></i>
							</div>
						</div>

						<div class="col-lg-2 col-md-2 col-sm-12 p-0">
							<button value="searchButton" name="searchButton" class="btn btn-primary full-width"
								style="margin-left:0%">查询</button>
						</div>
					</div>
				</form>
			</div>
			<div id="upload"></div>
		</div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================输入栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<section>
			<div class="container">

				<div class="row">
					<div class="col text-center">
						<div class="sec-heading mx-auto">
							<h2>上传信息</h2>
							<!-- <p>尽可能输入详细信息</p> -->
						</div>
					</div>
				</div>
				<div class="container">

					<div class="row">

						<div class="col-lg-5 col-md-5 bg-white">
							<div class="contact-address">
								<div class="add-box">
									<div class="add-icon-box">
										<i class="ti-home theme-cl"></i>
									</div>
									<div class="add-text-box">
										<h4>负责</h4>
										为保证真实性，我们全部采用人工审核方式<br>
										如有疑问请联系管理员<br>
									</div>
								</div>
								<!--
								<div class="add-box">
									<div class="add-icon-box">
										<i class="ti-map-alt theme-cl"></i>
									</div>
									<div class="add-text-box">
										<h4>Head Offices</h4>
										810 Clis Road,<br>
										Indraprash NW11 0PU, India
									</div>
								</div> -->
								<div class="add-box">
									<div class="add-icon-box">
										<i class="ti-email theme-cl"></i>
									</div>
									<div class="add-text-box">
										<h4>管理员邮箱</h4>
										853862980@qq.com<br>
										844540@qq.com<br>
										2876363140@qq.com<br>
									</div>
								</div>
								<div class="add-box">
									<div class="add-icon-box">
										<i class="ti-headphone theme-cl"></i>
									</div>
									<div class="add-text-box">
										<h4>管理员QQ</h4>
										<a target="_blank"
											href="http://wpa.qq.com/msgrd?v=3&uin=853862980&site=qq&menu=yes">853862980</a><br>
										<a target="_blank"
											href="http://wpa.qq.com/msgrd?v=3&uin=844540&site=qq&menu=yes">844540</a><br>
										<a target="_blank"
											href="http://wpa.qq.com/msgrd?v=3&uin=2876363140&site=qq&menu=yes">2876363140</a><br>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7">
							<div class="contact-form">
								<form method="POST" enctype="multipart/form-data">
									<label style="font-size:30px">您的信息</label>
									<div class="form-group">
										<label>QQ账号/微信账号<label
												style="color: rgba(255, 0, 0, 0.6);">（此项必填）</label></label>
										<input name="committerInformation" type="text" class="form-control"
											placeholder="获得即时反馈">
									</div>
									<div class="form-group">
										<label>发布的举报贴链接</label>
										<input name="committerUrl" type="text" class="form-control"
											placeholder="贴吧或max+举报帖子链接，帮助我们更好确认">
									</div>
									<div class="form-group">
										<label>上传图片（帮助我们更好确认）</label><br>
										<input type="file" name="imgFile" accept="image/*" multiple="multiple" />

									</div>
									<label style="font-size:30px">举报信息</label>
									<label style="font-size:15px;color: rgba(255, 0, 0, 0.6);">（下列至少填入一项）</label>
									<div class="form-group">
										<label>QQ账号</label>
										<input name="reportQq" type="text" class="form-control" placeholder="QQ账号">
									</div>
									<div class="form-group">
										<label>微信账号</label>
										<input name="reportVx" type="text" class="form-control" placeholder="微信账号">
									</div>
									<div class="form-group">
										<label>steam ID</label>
										<input name="reportSteam" type="text" class="form-control"
											placeholder="steam数字ID">
									</div>
									<div class="form-group">
										<label>支付宝账号</label>
										<input name="reportAliPay" type="text" class="form-control" placeholder="支付宝账号">
									</div>
									<div class="form-group">
										<label>max+账号</label>
										<input name="reportMaxId" type="text" class="form-control" placeholder="max+账号">
									</div>
									<div class="form-group">
										<label>小黑盒账号</label>
										<input name="reportHeiBox" type="text" class="form-control" placeholder="小黑盒账号">
									</div>
									<div class="form-group">
										<label>贴吧账号</label>
										<input name="reportTieBa" type="text" class="form-control" placeholder="贴吧账号">
									</div>
									<button value='subInf' disabled="disabled" name="subInf" type="submit"
										class="btn btn-primary">提交审核</button>
								</form>
							</div>
						</div>

					</div>

				</div>
		</section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================计数栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<section class="image-bg text-center" style="background:#00a94f url({% static "assets/img/bg2.png" %});"
			data-overlay="0">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ upload }}</h4>
							<span>上传次数</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ allrecord }}</h4>
							<span>举报信息数量</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ search }}</h4>
							<span>搜索次数</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="count-facts">
							<h4>{{ visits }}</h4>
							<span>访问次数</span>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================底栏===================================================================== -->
		<!-- ================================================================================================================================ -->
		<footer class="dark-footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="footer-widget" style="padding-top:30px;padding-bottom: 30px;">
								<img src="{% static "assets/img/logo-light.png" %}" class="img-footer" alt="" />
								<div class="footer-add">
									<p><a href="https://space.bilibili.com/17879830" target="_blank">我爱守剑阁炫炫</a></p>
									<p><a href="">乌沫</a></p>
									<p><a href="https://space.bilibili.com/175397396" target="_blank">大碗豆汁儿</a></p>
									<!-- <p style='font-size:15'>©2020 dota2饰品吧 版权所有</p> -->
								</div>

							</div>
						</div>
						<div class="col-lg-2-mianze col-md-2-mianze" style="width: 100%;">
								<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
									<h4 class="widget-title">免责声明</h4>
									<ul class="footer-menu">
										<li><a href="#"></a></li>
										<li>网站数据查询功能中所有数据均来源于百度贴吧、max+社区以及公开资料整理，
											查询结果仅供用户参考，并不代表网站立场，我们不对查询结果的真实性、准确性和有效性等承担任何法律责任。
											若查询结果有误，请直接联系管理员，我们会第一时间给予处理。
										</li>
									</ul>
								</div>
						</div>
					</div>
				</div>
			</div>

		</footer>
		<!-- ============================ Footer End ================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/popper.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/select2.min.js" %}"></script>
	<script src="{% static "assets/js/aos.js" %}"></script>
	<script src="{% static "assets/js/perfect-scrollbar.jquery.min.js" %}"></script>
	<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "assets/js/slick.js" %}"></script>
	<script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/js/isotope.min.js" %}"></script>
	<script src="{% static "assets/js/summernote.js" %}"></script>
	<script src="{% static "assets/js/jQuery.style.switcher.js" %}"></script>
	<script src="{% static "assets/js/counterup.min.js" %}"></script>
	<script src="{% static "assets/js/custom.js" %}"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->

</body>
<script>

</script>
<script>
	//
	$("input[name='imgFile']").each(function () {
		var max_size = 1024 * 1024 * 2;
		$(this).change(function (evt) {
			var finput = $(this);
			var files = evt.target.files; // 获得文件对象
			var output = [];
			for (var i = 0, f; f = files[i]; i++) {  //检查文件大小
				if (f.size > max_size) {
					alert("上传的图片不能超过2m!");
					$(this).val('');
				}
			}
		});
	});
	//
	$(function () {
		//录入
		var committerInformationFLAG = false;
		var reportInfFLAG = false;
		$("input[name='committerInformation']").blur(function () {
			var information = $(this).val().trim();
			if (information == "") {
				committerInformationFLAG = false;
			} else {
				committerInformationFLAG = true;
			}
			if (committerInformationFLAG && reportInfFLAG) {
				$("button[name='subInf']").removeAttr("disabled");
			}
			else {
				$("button[name='subInf']").attr({ "disabled": "disabled" });

			}
			// console.log(committerInformationFLAG, reportInfFLAG)
		});
		$("input[name='reportQq'],input[name='reportVx'],input[name='reportSteam'],input[name='reportAliPay'],input[name='reportMaxId'],input[name='reportHeiBox'],input[name='reportTieBa']").blur(function () {
			var information2 = $(this).val().trim();
			if (information2 == "") {
				reportInfFLAG = false;
			} else {
				reportInfFLAG = true;
			}
			if (committerInformationFLAG && reportInfFLAG) {
				$("button[name='subInf']").removeAttr("disabled");
			}
			else {
				$("button[name='subInf']").attr({ "disabled": "disabled" });

			}
		});
	});
</script>

</html>