{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>失联儿童查询</title>
	<link href="{% static "assets/css/plugins.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/styles.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/skin/default.css" %}" rel="stylesheet">
</head>

<script>
	function onTopClick() {

		window.location.hash = "#upload";

	}

</script>

<body class="green-skin">
	<div class="Loader"></div>
	<div id="main-wrapper">
		<div class="header header-light">
			<div class="container-fluid">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="{% url 'index' %}">
							<img src="{% static "assets/img/logo.png" %}" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li class="active"><a href="#">索引<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'index' %}" class="active">主页</a></li>
								</ul>
							</li>
						</ul>

						<ul class="nav-menu nav-menu-social align-to-right">
							<li class="add-listing theme-bg">
								<button
									style="height: 100%;width: 100%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
									<a href="#upload">
										<i class="ti-plus"></i> 上传
									</a>
								</button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================搜索栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<div class="hero-header jumbo-banner text-center" style="background: url({% static "assets/img/banner.jpg" %}"
			);" data-overlay="6">
			<div class="container">
				<h1>失联儿童查询</h1>
				<p class="lead">共同保护我们的孩子，你我可以做得更多。</p>
				<form method="POST" class="search-big-form no-border search-shadow">
					<div class="row m-0" style="width:100%">
						<div class="col-lg-4 col-md-4 col-sm-12 p-0">
							<div class="form-group">
								<i class="ti-search"></i>
								<input name="searchContent" type="text" class="form-control b-r" style="width:100%"
									placeholder="输入查询姓名">
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 p-0">
							<button value="searchButton" name="searchButton" class="btn btn-primary full-width"
								style="margin-left:0%">查询</button>
						</div>
					</div>
				</form>
			</div>
			<div id="upload"></div>
		</div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================输入栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<section>
			<div class="container">

				<div class="row">
					<div class="col text-center">
						<div class="sec-heading mx-auto">
							<h2>上传信息</h2>
							<!-- <p>尽可能输入详细信息</p> -->
						</div>
					</div>
				</div>
				<div class="container">

					<div class="row">

						<div class="col-lg-5 col-md-5 bg-white">
							<div class="contact-address">
								<div class="add-box">
									<div class="add-icon-box">
										<i class="ti-home theme-cl"></i>
									</div>
									<div class="add-text-box">
										<h4>注意！</h4>
										本网站用于查询和搜索失联儿童。<br>
									</div>
								</div>
								<div class="add-box">
									<div class="add-icon-box">
										<i class="ti-email theme-cl"></i>
									</div>
									<div class="add-text-box">
										<h4>开发者</h4>
										金昊宸<br>
									</div>
								</div>
								<div class="add-box">
									<div class="add-icon-box">
										<i class="ti-headphone theme-cl"></i>
									</div>
									<div class="add-text-box">
										<h4>联系开发者</h4>
										<a target="_blank"
											href="http://wpa.qq.com/msgrd?v=3&uin=2876363140&site=qq&menu=yes">2876363140</a><br>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7">
							<div class="contact-form">
								<form method="POST" enctype="multipart/form-data">
									<label style="font-size:30px">失联者信息</label>
									<div class="form-group">
										<label>姓名<label style="color: rgba(255, 0, 0, 0.6);">（此项必填）</label></label>
										<input name="missCName" type="text" class="form-control" placeholder="失联者姓名">
									</div>
									<div class="form-group">
										<label>性别</label>
										<select name="missCsex" id="category1" class="js-states form-control">
											<option value="none">其他</option>
											<option value="nan">男</option>
											<option value="nv">女</option>
										</select>
									</div>
									<div class="form-group">
										<label>身高</label>
										<input name="missCheight" type="text" class="form-control"
											placeholder="身高（厘米min）">
									</div>
									<div class="form-group">
										<label>体重</label>
										<input name="missCweight" type="text" class="form-control"
											placeholder="体重（千克kg）">
									</div>
									<div class="form-group">
										<label>出生日期</label>
										<select name="missCbirthdayY" id="category2" class="sel_year">
										</select>
										<div style="margin-top:10px"></div>
										<select name="missCbirthdayM" id="category3" class="sel_month">
										</select>
										<div style="margin-top:10px"></div>
										<select name="missCbirthdayD" id="category4" class="sel_day">
										</select>
									</div>
									<div class="form-group">
										<label>走失日期</label>
										<select name="missCtimeY" id="category5" class="sel_year1">
										</select>
										<div style="margin-top:10px"></div>
										<select name="missCtimeM" id="category6" class="sel_month1">
										</select>
										<div style="margin-top:10px"></div>
										<select name="missCtimeD" id="category7" class="sel_day1">
										</select>
										<div style="margin-top:10px"></div>
										<select name="missCtimeMin" id="category8" class="sel_hour1">
										</select>
										<div style="margin-top:10px"></div>
										<select name="missCtimeS" id="category9" class="sel_min1">
										</select>
									</div>
									<div class="form-group">
										<label>走失位置</label>
										<input name="missCsite" type="text" class="form-control" placeholder="最后失联位置">
									</div>
									<div class="form-group">
										<label>其他信息</label>
										<textarea name="missCtext" type="text" class="form-control"
											placeholder="尽可能详尽的描述信息"></textarea>
									</div>
									<div class="form-group">
										<label>上传图片</label><br>
										<input type="file" name="missCimg" accept="image/*" multiple="multiple" />
									</div>
									<label style="font-size:30px">失联者家属信息</label>
									<div class="form-group">
										<label>家属称呼</label>
										<input name="kinName" type="text" class="form-control" placeholder="姓氏/名称">
									</div>
									<div class="form-group">
										<label>家属联系方式</label>
										<input name="kinLine" type="text" class="form-control" placeholder="联系方式">
									</div>
									<button value='subInf' disabled="disabled" name="subInf" type="submit"
										class="btn btn-primary">提交审核</button>
								</form>
							</div>
						</div>

					</div>

				</div>
		</section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================计数栏=================================================================== -->
		<!-- ================================================================================================================================ -->
		<section class="image-bg text-center" style="background:#00a94f url({% static "assets/img/bg2.png" %});"
			data-overlay="0">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ upload }}</h4>
							<span>上传次数</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ allrecord }}</h4>
							<span>举报信息数量</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 b-r">
						<div class="count-facts">
							<h4>{{ search }}</h4>
							<span>搜索次数</span>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="count-facts">
							<h4>{{ visits }}</h4>
							<span>访问次数</span>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================底栏===================================================================== -->
		<!-- ================================================================================================================================ -->
		<footer class="dark-footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="footer-widget" style="padding-top:30px;padding-bottom: 30px;">
								<img src="{% static "assets/img/logo-light.png" %}" class="img-footer" alt="" />
								<div class="footer-add">
									<p><a href="https://space.bilibili.com/175397396" target="_blank">金昊宸</a></p>
									<!-- <p style='font-size:15'>©2020 dota2饰品吧 版权所有</p> -->
								</div>

							</div>
						</div>
						<div class="col-lg-2-mianze col-md-2-mianze" style="width: 100%;">
							<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
								<h4 class="widget-title">友情连接</h4>
								<ul class="footer-menu">
									<li><a href="http://xunren.baidu.com/index.html" target="_blank">百度寻人</a></li>
									<li><a href="http://chinaxrw.com/" target="_blank">中国寻人网</a></li>
									<li><a href="https://www.szrksjzx.com/" target="_blank">寻亲网</a></li>

								</ul>
							</div>
						</div>
						<!-- <div class="col-lg-2-mianze2 col-md-2-mianze2" style="width: 100%;">
							<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
								<h4 class="widget-title">&nbsp</h4>
								<ul class="footer-menu">
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
									<li><a href="#">123231</a></li>
								</ul>
							</div>
						</div>
					</div> -->
				</div>
			</div>

		</footer>
		<!-- ============================ Footer End ================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/popper.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/select2.min.js" %}"></script>
	<script src="{% static "assets/js/aos.js" %}"></script>
	<script src="{% static "assets/js/perfect-scrollbar.jquery.min.js" %}"></script>
	<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "assets/js/slick.js" %}"></script>
	<script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/js/isotope.min.js" %}"></script>
	<script src="{% static "assets/js/summernote.js" %}"></script>
	<script src="{% static "assets/js/jQuery.style.switcher.js" %}"></script>
	<script src="{% static "assets/js/counterup.min.js" %}"></script>
	<script src="{% static "assets/js/custom.js" %}"></script>

	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.time.js" %}"></script>
	<script src="{% static "assets/js/birthday.js" %}"></script>
	<script src="{% static "assets/js/misstime.js" %}"></script>
	<!-- This page plugins -->
	<!-- ============================================================== -->

</body>

<script>
	//
	$("input[name='imgFile']").each(function () {
		var max_size = 1024 * 1024 * 2;
		$(this).change(function (evt) {
			var finput = $(this);
			var files = evt.target.files; // 获得文件对象
			var output = [];
			for (var i = 0, f; f = files[i]; i++) {  //检查文件大小
				if (f.size > max_size) {
					alert("上传的图片不能超过2m!");
					$(this).val('');
				}
			}
		});
	});
	//
	$(function () {
		//录入
		var committerInformationFLAG = false;
		var reportInfFLAG = true;
		$("input[name='missCName']").blur(function () {
			var information = $(this).val().trim();
			if (information == "") {
				committerInformationFLAG = false;
			} else {
				committerInformationFLAG = true;
			}
			if (committerInformationFLAG && reportInfFLAG) {
				$("button[name='subInf']").removeAttr("disabled");
			}
			else {
				$("button[name='subInf']").attr({ "disabled": "disabled" });

			}
			// console.log(committerInformationFLAG, reportInfFLAG)
		});
	});
</script>
<script>
	$('#category1').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category1-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category1-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category1-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category2-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category2-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category2-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category3-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category3-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category3-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	//
	$('#category4').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category4-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category4-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category4-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category5').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category5-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category5-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category5-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category6').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category6-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category6-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category6-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category7').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category7-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category7-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category7-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category8').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category8-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category8-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category8-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
	//
	$('#category9').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category9-side').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category9-2').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});

	$('#category9-3').select2({
		placeholder: "选择查询内容",
		allowClear: true
	});
</script>

</html>