{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>查询结果</title>
	<link href="{% static "assets/css/plugins.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/styles.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/skin/default.css" %}" rel="stylesheet">
</head>
<script>

	function onTopClick() {

		window.location.hash = "#upload";
	}

</script>

<body class="green-skin">
	<div class="Loader"></div>
	<div id="main-wrapper">
		<div class="header header-light">
			<div class="container-fluid">
				<nav id="navigation" class="navigation navigation-landscape">
					<div class="nav-header">
						<a class="nav-brand" href="{% url 'index' %}">
							<img src="{% static "assets/img/logo.png" %}" class="logo" alt="" />
						</a>
						<div class="nav-toggle"></div>
					</div>
					<div class="nav-menus-wrapper" style="transition-property: none;">
						<ul class="nav-menu">
							<li class="active"><a href="#">索引<span class="submenu-indicator"></span></a>
								<ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
									<li><a href="{% url 'index' %}" class="active">主页</a></li>
									<!-- <li><a href="home-2.html">Home Style 2</a></li>-->
								</ul>
							</li>
						</ul>

						<ul class="nav-menu nav-menu-social align-to-right">
							<li class="add-listing theme-bg">
								<button
									style="height: 100%;width: 100%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
									<a href="{% url 'bbsindex' %}">
										</i> 返回论坛
									</a>
								</button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->
		<div class="clearfix"></div>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================显示信息================================================================== -->
		<!-- ================================================================================================================================ -->
		<section class="small-page-title-banner" style="background-image:url({% static "assets/img/des-10.jpg" %});">
			<div class="container">
				<div class="row">
					<div class="tr-list-center">
						<h2 style="font-size: 50px;">管理员登陆</h2>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">

				<div class="row justify-content-center">

					<div class="col-lg-7 col-md-7 col-sm-12">
						<div class="modal-body">
							<h4 class="modal-header-title">Welcome <span>Back</span></h4>
							<div class="social-login center-tr">
							</div>
							<div class="login-form">
								<form method="POST">

									<div class="form-group">
										<label>用户名</label>
										<div class="input-with-gray">
											<input name="username" type="text" class="form-control" placeholder="用户名">
											<i class="ti-user"></i>
										</div>
									</div>

									<div class="form-group">
										<label>密码</label>
										<div class="input-with-gray">
											<input name="userpass" type="password" class="form-control"
												placeholder="*******">
											<i class="ti-unlock"></i>
										</div>
									</div>
									<center><a href="{% url 'register' %}" style="font-size: 13px;"><b>注册</b></a>
									</center>
									<p>{{ mess }}</p>
									<div class="form-group">
										<button type="submit"
											class="btn btn-primary btn-md full-width pop-login">登陆</button>
									</div>

								</form>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- ================================================================================================================================ -->
		<!-- ========================================================底栏===================================================================== -->
		<!-- ================================================================================================================================ -->
		<footer class="dark-footer skin-dark-footer">
			<div>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="footer-widget" style="padding-top:30px;padding-bottom: 30px;">
								<img src="{% static "assets/img/logo-light.png" %}" class="img-footer" alt="" />
								<div class="footer-add">
									<h4 class="widget-title">开发者</h4>
									<p><a href="https://space.bilibili.com/175397396" target="_blank">金昊宸</a></p>
									<!-- <p style='font-size:15'>©2020 dota2饰品吧 版权所有</p> -->
								</div>

							</div>
						</div>
						<div class="col-lg-2-mianze col-md-2-mianze" style="width: 100%;">
							<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
								<h4 class="widget-title">友情连接</h4>
								<ul class="footer-menu">
									<li><a href="http://xunren.baidu.com/index.html" target="_blank">百度寻人</a></li>
									<li><a href="http://chinaxrw.com/" target="_blank">中国寻人网</a></li>
									<li><a href="https://www.szrksjzx.com/" target="_blank">寻亲网</a></li>

								</ul>
							</div>
						</div>
						<!-- <div class="col-lg-2-mianze2 col-md-2-mianze2" style="width: 100%;">
									<div class="footer-widget" style="width: 100%;padding-top:8%;padding-bottom: 30px;">
										<h4 class="widget-title">&nbsp</h4>
										<ul class="footer-menu">
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
											<li><a href="#">123231</a></li>
										</ul>
									</div>
								</div>
							</div> -->
					</div>
				</div>

		</footer>
		<!-- ============================ Footer End ================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/js/popper.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/select2.min.js" %}"></script>
	<script src="{% static "assets/js/aos.js" %}"></script>
	<script src="{% static "assets/js/perfect-scrollbar.jquery.min.js" %}"></script>
	<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "assets/js/slick.js" %}"></script>
	<script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/js/isotope.min.js" %}"></script>
	<script src="{% static "assets/js/summernote.js" %}"></script>
	<script src="{% static "assets/js/jQuery.style.switcher.js" %}"></script>
	<script src="{% static "assets/js/counterup.min.js" %}"></script>
	<script src="{% static "assets/js/custom.js" %}"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->

</body>

</html>